/* logo */

.logo {
  margin-right: 15px;

  color: var(--nav_logo-color);
  font-family: var(--logo-font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  & .web {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    margin-right: 93px;

    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
